static/dist/traid.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <title>title</title>
    <meta name="description" content="Description">
    <!--link(rel='stylesheet' href=pathPrefix + 'assets/css/vendors.css')-->
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body class="body main-page">
    <div class="layout">
      <div class="layout__header">
        <header id="app_header">
          <div class="section_outer top_line">
            <div class="section_inner">
              <div class="header_catalog">
                <div class="header_catalog_list_button"><span class="desktop">Каталог товаров</span><span class="mobile" v-on:click="menu_open=!menu_open">Меню сайта</span><i class="menu-trigger"></i></div>
                <ul class="nav-bar" v-bind:class="{ open: menu_open }">
                  <li class="first"><a href="#">Первый пункт</a>
                    <ul>
                      <li><a href="#">подперый</a></li>
                      <li><a href="#">подперый</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="header_city_change" id="header_drop_menu_city"><a class="header_city_change_title" href="#" v-on:click="city_open=!city_open"><span> Москва</span><span class="caret"></span></a>
                <ul class="dropdown-menu" v-if="city_open">
                  <li role="presentation"><a role="menuitem" href="#">Москва</a></li>
                  <li role="presentation"><a role="menuitem" href="#">Самара</a></li>
                  <li role="presentation"><a role="menuitem" href="#">Екатеринбург</a></li>
                </ul>
              </div>
              <div class="header_contact_info">
                <div class="header_contact_info_phones">
                  <div class="left"><a href="tel:88007007556">8-800-700-75-56</a><a href="tel:8-495-755-1627">8-495-755-1627</a></div>
                  <div class="right">
                    <div class="top">ежедневно</div>
                    <div class="bottom">с 10 до 20</div>
                  </div>
                </div>
              </div>
              <div class="header_info_nav" id="header_drop_menu_help"><a class="header_info_nav_title" href="#" v-on:click="help_open=!help_open"><span> Помощь</span><span class="caret"></span></a>
                <ul class="dropdown-menu" v-if="help_open">
                  <li role="presentation"><a role="menuitem" href="#">Москва</a></li>
                  <li role="presentation"><a role="menuitem" href="#">Самара</a></li>
                  <li role="presentation"><a role="menuitem" href="#">Екатеринбург</a></li>
                </ul>
              </div>
              <div class="header_basket">
                <div class="basket_text"><span class="top">358 товаров</span><span class="bottom">На сумму 300 000 р.</span></div>
              </div>
            </div>
          </div>
          <div class="section_outer bottom_line">
            <div class="section_inner"><a class="header_logo" href=""><img src="assets/img/old/mwtru.svg" alt="" srcset="" width="100px" height="100px"><span class="nowrap">интернет -  магазин</span></a>
              <div class="header_search">
                <form action="">
                  <input type="text" placeholder="Что ищем?">
                  <button type="submit"></button>
                </form>
              </div><a class="send_letter" href="#">Письмо директору</a>
              <div class="header_basket">
                <div class="count">!</div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <main class="layout__main">
        <div class="section_outer section_traid">
          <div class="section_inner">
            <div class="section_header">
              <h1 class="section_header_title">Traid-in</h1>
            </div>
            <div class="section_wrap">
              <h2>Мы купим ваше старое массажное оборудование в зачет нового!</h2>
              <div>Мы бесплатно обменяем Ваше подержанное оборудование на новое от лучших производителей с доплатой, или выкупим его по согласованной цене</div>
              <h2>Виды оборудование, участвующие в программе Traid-in</h2>
              <div>
                <ul>
                  <li>Массажные кресла от брендов Casada, Anatomico, Ego, Ergonova, Fujiiryoki, Inada, iRest, OTO, Panasonic, Richter, Sensa, Takasima,  US Medica, Yamaguchi</li>
                  <li>Тренажеры</li>
                  <li>Массажные кровати</li>
                </ul>
              </div>
              <h2>Порядок действий</h2>
              <div class="steps_list">
                <div class="steps_list_item steps_list_item_photo">1. Сделайте фото или видео оборудования с разных ракурсов, чтобы специалист мог оценить состояние прибора.</div>
                <div class="steps_list_item steps_list_item_email">2. Отправьте их на почту info@mwt.ru либо через приложения WhatsApp, Viber на телефон +7 (962) 485-18-16</div>
                <div class="steps_list_item steps_list_item_communications">3. Наш специалист свяжется с вами, чтобы сделать оценку и договориться об условиях.</div>
              </div><img src="assets/img/old/traid_in_bottom.jpg" alt="">
            </div>
          </div>
        </div>
      </main>
      <div class="layout__footer">
        <footer class="section_outer" id="app_footer">
          <div class="section_inner">
            <div class="top_line">
              <div class="icons"><a class="fb" href=""></a><a class="vk" href=""></a><a class="email" href=""></a><a class="tg" href=""></a></div>
              <div class="subscribe"><span class="title"><span>Подпишись</span><span> на акции и спецпредложения</span></span>
                <form id="subscribe" action="">
                  <input type="email" name="" id="" placeholder="Ваш email">
                  <button>Отправить</button>
                </form>
              </div>
            </div>
            <div class="bottom_line">
              <ul class="footer_column">
                <li class="footer_column_link"><a href="http://">О компании</a></li>
                <li class="footer_column_link"><a href="/action.html">Акции</a></li>
                <li class="footer_column_link"><a href="/article.html">Журнал</a></li>
              </ul>
              <ul class="footer_column">
                <li class="footer_column_link"><a href="http://">Доставка</a></li>
                <li class="footer_column_link"><a href="http://">Сервис</a></li>
                <li class="footer_column_link"><a href="http://">Возврат товара</a></li>
                <li class="footer_column_link"><a href="http://">Гарантия</a></li>
              </ul>
              <ul class="footer_column">
                <li class="footer_column_link"><a href="http://">Оплата</a></li>
                <li class="footer_column_link border_bottom"><a href="http://">Рассрочка</a></li>
                <li class="footer_column_link">Мы принимаем к оплате<br><a href="http://article.html">Visa</a><a href="http://article.html">Mastercard</a><a href="http://article.html">Мир</a></li>
              </ul>
              <div class="footer_column">
                <div class="footer_column_contact"><a class="footer_column_contact_link" href="http://">8-800-700-75-55</a>                    - Бесплатная горячая линия</div>
                <div class="footer_column_contact"><a class="footer_column_contact_link" href="http://">info@mwt.ru</a>                    - Общая информация</div>
                <div class="footer_column_contact"><a class="footer_column_contact_link" href="http://">sale@mwt.ru</a>                    - Отдел продаж</div>
                <div class="footer_column_contact"><a class="footer_column_contact_link" href="http://">info@mwt.ru</a>                    - Отдел по работе с клиентами</div>
                <div class="footer_column_contact"><a class="footer_column_contact_link" href="http://">service@mwt.ru</a>                    - Сервисный центр</div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="assets/js/vueCode.js"></script>
    <script src="assets/js/vendors.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>

static/src/pug/pages/traid.pug
extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content

    .section_outer.section_traid
        .section_inner
            .section_header
                h1.section_header_title Traid-in
            .section_wrap
                h2 Мы купим ваше старое массажное оборудование в зачет нового!
                div
                    | Мы бесплатно обменяем Ваше подержанное оборудование на новое от лучших производителей с доплатой, или выкупим его по согласованной цене
                h2 Виды оборудование, участвующие в программе Traid-in
                div
                    ul
                        li
                            | Массажные кресла от брендов Casada, Anatomico, Ego, Ergonova, Fujiiryoki, Inada, iRest, OTO, Panasonic, Richter, Sensa, Takasima,  US Medica, Yamaguchi
                        li Тренажеры
                        li Массажные кровати
                h2 Порядок действий
                .steps_list
                    .steps_list_item.steps_list_item_photo
                        | 1. Сделайте фото или видео оборудования с разных ракурсов, чтобы специалист мог оценить состояние прибора.
                    .steps_list_item.steps_list_item_email
                        | 2. Отправьте их на почту info@mwt.ru либо через приложения WhatsApp, Viber на телефон +7 (962) 485-18-16
                    .steps_list_item.steps_list_item_communications
                        | 3. Наш специалист свяжется с вами, чтобы сделать оценку и договориться об условиях.
                img(src=imgPathOld(`traid_in_bottom.jpg`) alt='')
